@import "../../app.scss";
.experience {
  background: linear-gradient(180deg, #111132, #0c0c1d);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }

  .titleContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }
    }
  }

  .listContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    margin: auto;
    width: 100%;
    padding: 20px;
    gap: 20px;
    overflow-y: auto; // Allow scrolling if content is long

    @include mobile {
        padding: 10px;
    }
  }

  .box {
    padding: 30px;
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent; // or background color
    border-radius: 20px;

    &:hover {
        background: lightgray;
        color: black;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: normal;
    }

    span {
        font-size: 14px;
        margin-bottom: 15px;
        font-style: italic;
    }

    p, ul {
        font-size: 16px;
        margin-bottom: 10px;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }
  }
}
